.detalles{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -10vh;
}
p{
font-size: 20px;
}
img{
    border-radius: 5px;
    margin-bottom: -6vh ;
    margin-top: -4vh ;
}
h2{
    text-align: center;
}